<p id="notice"><%= notice %></p>

</br>
<p>
  <strong>Name:</strong>
  <%= @artifact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artifact.description %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @artifact.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @artifact.latitude %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @artifact.filepath %>
</p>

<div class="row small-buffer"></div>

<p>
  <strong>Artifact's Tags:</strong>
</p>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", "/tags/sort/name" %></th>
      <th><%= link_to "Description", "/tags/sort/description" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags = Artifact.find(params[:id]).tags %>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row buffer"></div>

<% if @artifact.file?%>
  <p>
    <strong>Media:</strong>
  </p>
  </br>
  <div><%= image_tag @artifact.file.url %></div>
  </br>
<% end %>

<% if @artifact.model?%>
  <script type="text/javascript">
      var path = '<%=escape_javascript @artifact.model.url %>'
      vtkRender(path);
  </script>
<% end %>

<button type="button" class="btn btn-primary"><%= link_to "Artifact's Users", "/artifacts/#{@artifact.id}/users"  %></button>

<button type="button" class="btn btn-primary"><%= link_to "Artifact's Groups", "/artifacts/#{@artifact.id}/groups"  %></button>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_artifact_path(@artifact) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', artifacts_path %></button>
</div>
