<p id="notice"><%= notice %></p>

<h1>Artifact's Tags</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", "/tags/sort/name" %></th>
      <th><%= link_to "Description", "/tags/sort/description" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><button type="button" class="btn btn-default"><%= link_to "#{tag.name}", tag %></button></td>
        <td><%= tag.description %></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_tag_path(tag) %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
