<p id="notice"><%= notice %></p>

<h1>Artifact's Users</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", "/users/sort/lastname" %></th>
      <th><%= link_to "Email", "/users/sort/email" %></th>
      <th><%= link_to "ID", "/users/sort/id" %></th>
      <th><%= link_to "Last Sign In", "/users/sort/last_sign_in_at" %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><button type="button" class="btn btn-default"><%= link_to "#{user.firstname} #{user.lastname}", user %></button></td>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <td><%= user.last_sign_in_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
