<p id="notice"><%= notice %></p>

<h1>Your Groups</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", "/groups/sort/name" %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><button type="button" class="btn btn-default"><%= link_to "#{group.name}", group %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_group_path(group) %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-lg btn-primary"><%= link_to 'New Group', new_group_path %></button>
