<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<button type="button" class="btn btn-primary"><%= link_to "Tag's Artifacts", "/tags/#{@tag.id}/artifacts"  %></button>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_tag_path(@tag) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', tags_path %></button>
</div>
